{% extends 'base_private.html.twig' %}

{% block title %} - pré-création d'un exposant{% endblock %}

{% block body %}
    <h1>Pré-inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}