{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
<section>
    <article>
        <img src="" alt="">
        <aside></aside>
    </article>
</section>
<section>
    <article>
        <aside></aside>
        <img src="" alt="">
    </article>
</section>
<section>
    <article>
        <img src="" alt="">
        <aside></aside>
    </article>
</section>
<section>
    <article>
        <img src="" alt="">
    </article>
</section>
{% endblock %}