{% extends 'base.html.twig' %}

{% block title %} - Le concept{% endblock %}

{% block body %}
    <div class="text-center p-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-8">Les membres de l'équipe</h2>
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 max-w-5xl mx-auto">
            {% for member in members %}
                <div class="bg-white rounded-lg p-6 shadow-md text-center">
                    <img src="{{ member.image }}" alt="image memebre" class="w-full rounded-lg mb-4">
                    <h3 class="text-xl font-bold text-blue-600">{{ member.fullName }}</h3>
                    <p class="text-gray-600">{{ member.fonction }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}